$color_1: white;
$background_color_1: #475a9a;
$background_color_2: #fff;
$background_color_3: #fb8576;
$background_color_4: #ed89ff;
$background_color_5: #c671d4;
$background_color_6: #4bacbd;
$background_color_7: #377f8b;
$background_color_8: #1481b3;
$background_color_9: #106288;
$background_color_10: #f09400;
$background_color_11: #ac6700;
$background_color_12: #41B314;
$background_color_13: #3ca512;
$background_color_14: #c9302c;
$background_color_15: #ac2e29;
$background_color_16: #b000c0;
$background_color_17: #9400a1;
$background_color_18: #e4cb10;
$background_color_19: #d6be0f;
$background_color_20: #00AAFF;
$background_color_21: #00a0f0;
$background_color_22: #d9534f;
$border_color_1: #c671d4;
$border_color_2: #9c59a7;
$border_color_3: #377f8b;
$border_color_4: #224f57;
$border_color_5: #1376a3;
$border_color_6: #0e5374;
$border_color_7: #f09000;
$border_color_8: #ac6700;
$border_color_9: #3ca512;
$border_color_10: #ac2925;
$border_color_11: #9c2622;
$border_color_12: #9400a1;
$border_color_13: #6c0075;
$border_color_14: #d6be0f;
$border_color_15: #00a0f0;
$border_color_16: #d9534f;

/* DEBUT --- FICHE STRUCTURE VISUALISER */
/* .fiche-structure-annuler {
    color: white !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-annuler:hover,
.fiche-structure-annuler:focus {
    background-color: #ac2e29 !important;
    border-color: #9c2622 !important;
} */
/* FIN --- FICHE STRUCTURE VISUALISER */
/*************/
@-webkit-keyframes "animatetop" {
}
@keyframes "animatetop" {
}
/* The Close Button */
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.bold {
	font-weight: bold !important;
}
.justify {
	text-justify: inter-word !important;
}
.vert-align {
	vertical-align: middle !important;
}
.blue-casba {
	background-color: $background_color_1 !important;
}
.blanc-casba {
	background-color: $background_color_2 !important;
}
.orange-casba {
	background-color: $background_color_3 !important;
}
.white {
	color: $color_1;
}
.fiche-structure-partager {
	color: $color_1 !important;
	background-color: $background_color_4 !important;
	border-color: $border_color_1 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_5 !important;
		border-color: $border_color_2 !important;
	}
	&:focus {
		background-color: $background_color_5 !important;
		border-color: $border_color_2 !important;
	}
}
.fiche-structure-transferer {
	color: $color_1 !important;
	background-color: $background_color_6 !important;
	border-color: $border_color_3 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_7 !important;
		border-color: $border_color_4 !important;
	}
	&:focus {
		background-color: $background_color_7 !important;
		border-color: $border_color_4 !important;
	}
}
.fiche-structure-retour {
	color: $color_1 !important;
	background-color: $background_color_8 !important;
	border-color: $border_color_5 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_9 !important;
		border-color: $border_color_6 !important;
	}
	&:focus {
		background-color: $background_color_9 !important;
		border-color: $border_color_6 !important;
	}
}
.fiche-structure-modifier {
	color: $color_1 !important;
	background-color: $background_color_10 !important;
	border-color: $border_color_7 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_11 !important;
		border-color: $border_color_8 !important;
	}
	&:focus {
		background-color: $background_color_11 !important;
		border-color: $border_color_8 !important;
	}
}
.fiche-structure-annuler {
	color: $color_1 !important;
	background-color: $background_color_8 !important;
	border-color: $border_color_5 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_9 !important;
		border-color: $border_color_6 !important;
	}
	&:focus {
		background-color: $background_color_9 !important;
		border-color: $border_color_6 !important;
	}
}
.fiche-structure-activer {
	color: $color_1 !important;
	background-color: $background_color_12 !important;
	border-color: $border_color_9 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
	&:focus {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
}
.fiche-structure-ajouter {
	color: $color_1 !important;
	background-color: $background_color_12 !important;
	border-color: $border_color_9 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
	&:focus {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
}
.fiche-structure-supprimer {
	color: $color_1 !important;
	background-color: $background_color_14 !important;
	border-color: $border_color_10 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_15 !important;
		border-color: $border_color_11 !important;
	}
	&:focus {
		background-color: $background_color_15 !important;
		border-color: $border_color_11 !important;
	}
}
.fiche-structure-enregistrer {
	color: $color_1 !important;
	background-color: $background_color_12 !important;
	border-color: $border_color_9 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
	&:focus {
		background-color: $background_color_13 !important;
		border-color: $border_color_9 !important;
	}
}
.fiche-structure-administrateur {
	color: $color_1 !important;
	background-color: $background_color_16 !important;
	border-color: $border_color_12 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_17 !important;
		border-color: $border_color_13 !important;
	}
	&:focus {
		background-color: $background_color_17 !important;
		border-color: $border_color_13 !important;
	}
}
.fiche-structure-chef {
	color: $color_1 !important;
	background-color: $background_color_18 !important;
	border-color: $border_color_14 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
	&:hover {
		background-color: $background_color_18 !important;
		border-color: $border_color_14 !important;
	}
	&:focus {
		background-color: $background_color_18 !important;
		border-color: $border_color_14 !important;
	}
}
.fiche-btn-custom-small {
	width: 20% !important;
}
.fiche-btn-custom-carnet-small {
	width: 15% !important;
}
.fiche-btn-custom-medium {
	width: 25% !important;
}
.btn-custom {
	width: 24% !important;
}
.fiche-debloquer {
	color: $color_1 !important;
	background-color: $background_color_13 !important;
	border-color: $border_color_9 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
}
.fiche-bloquer {
	color: $color_1 !important;
	background-color: $background_color_19 !important;
	border-color: $border_color_14 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
}
.fiche-supprimer {
	color: $color_1 !important;
	background-color: $background_color_14 !important;
	border-color: $border_color_10 !important;
	padding: 6px 0px !important;
	border-radius: 2px !important;
}
.bouton-visualiser {
	color: $color_1;
	background-color: $background_color_20;
	border-color: $border_color_15;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_21;
		border-color: $border_color_15;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_21;
		border-color: $border_color_15;
	}
}
.bouton-partager {
	color: $color_1;
	background-color: $background_color_4;
	border-color: $border_color_1;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_5;
		border-color: $border_color_2;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_5;
		border-color: $border_color_2;
	}
}
.bouton-transferer {
	color: $color_1;
	background-color: $background_color_6;
	border-color: $border_color_3;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_7;
		border-color: $border_color_4;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_7;
		border-color: $border_color_4;
	}
}
.bouton {
	width: 96%;
}
.bouton-small {
	width: 15%;
}
.bouton-medium {
	width: 28%;
}
.bouton-modifier {
	color: $color_1;
	background-color: $background_color_10;
	border-color: $border_color_7;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_11;
		border-color: $border_color_8;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_11;
		border-color: $border_color_8;
	}
}
.bouton-debloquer {
	color: $color_1;
	background-color: $background_color_12;
	border-color: $border_color_9;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_13;
		border-color: $border_color_9;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_13;
		border-color: $border_color_9;
	}
}
.bouton-bloquer {
	color: $color_1;
	background-color: $background_color_18;
	border-color: $border_color_14;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_19;
		border-color: $border_color_14;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_19;
		border-color: $border_color_14;
	}
}
.bouton-supprimer {
	color: $color_1;
	background-color: $background_color_22;
	border-color: $border_color_16;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_14;
		border-color: $border_color_10;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_14;
		border-color: $border_color_10;
	}
}
.bouton-activer {
	color: $color_1;
	background-color: $background_color_12;
	border-color: $border_color_9;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_13;
		border-color: $border_color_9;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_13;
		border-color: $border_color_9;
	}
}
.bouton-desactiver {
	color: $color_1;
	background-color: $background_color_22;
	border-color: $border_color_16;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_14;
		border-color: $border_color_10;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_14;
		border-color: $border_color_10;
	}
}
.bouton-administrateur {
	color: $color_1;
	background-color: $background_color_16;
	border-color: $border_color_12;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_17;
		border-color: $border_color_13;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_17;
		border-color: $border_color_13;
	}
}
.bouton-chef {
	color: $color_1;
	background-color: $background_color_18;
	border-color: $border_color_14;
	padding: 6px 0px !important;
	margin: 0px 3px;
	&:hover {
		color: $color_1;
		background-color: $background_color_19;
		border-color: $border_color_14;
	}
	&:focus {
		color: $color_1;
		background-color: $background_color_19;
		border-color: $border_color_14;
	}
}
.modal-content {
	margin: 10% 20% 10% 25% !important;
	width: 50% !important;
	height: 50% !important;
	border-radius: 10px;
}
.fermerDialogue {
	color: $color_1 !important;
}
