/* All styles created for demo purposes only, you may not need this for your project */
/*# sourceMappingURL=demo.css.map */
.demo-button {
	button {
		margin-bottom: 5px;
	}
}
.demo-icons {
	li {
		margin-bottom: 50px;
		text-align: center;
	}
	.lnr {
		font-size: 28px;
	}
	.fa {
		font-size: 28px;
	}
	.cssclass {
		display: block;
		margin-top: 5px;
		margin-left: 5px;
	}
}
