.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.bold {
    font-weight: bold !important;
}

.vert-align {
    vertical-align: middle !important;
}

.blue-casba {
    background-color: #475a9a !important;
}

.blanc-casba {
    background-color: #fff !important;
}

.orange-casba {
    background-color: #fb8576 !important;
}

.white {
    color: white;
}

/* DEBUT --- FICHE STRUCTURE VISUALISER */
.fiche-structure-partager {
    color: white !important;
    background-color: #ed89ff !important;
    border-color: #c671d4 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-partager:hover,
.fiche-structure-partager:focus {
    background-color: #c671d4 !important;
    border-color: #9c59a7 !important;
}

.fiche-structure-transferer {
    color: white !important;
    background-color: #4bacbd !important;
    border-color: #377f8b !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-transferer:hover,
.fiche-structure-transferer:focus {
    background-color: #377f8b !important;
    border-color: #224f57 !important;
}

.fiche-structure-retour {
    color: white !important;
    background-color: #1481b3 !important;
    border-color: #1376a3 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-retour:hover,
.fiche-structure-retour:focus {
    background-color: #106288 !important;
    border-color: #0e5374 !important;
}

.fiche-structure-modifier {
    color: white !important;
    background-color: #f09400 !important;
    border-color: #f09000 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-modifier:hover,
.fiche-structure-modifier:focus {
    background-color: #ac6700 !important;
    border-color: #ac6700 !important;
}

.fiche-structure-annuler {
    color: white !important;
    background-color: #1481b3 !important;
    border-color: #1376a3 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-annuler:hover,
.fiche-structure-annuler:focus {
    background-color: #106288 !important;
    border-color: #0e5374 !important;
}

.fiche-structure-activer {
    color: white !important;
    background-color: #41B314 !important;
    border-color: #3ca512 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-activer:hover,
.fiche-structure-activer:focus {
    background-color: #3ca512 !important;
    border-color: #3ca512 !important;
}

.fiche-structure-ajouter {
    color: white !important;
    background-color: #41B314 !important;
    border-color: #3ca512 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-ajouter:hover,
.fiche-structure-ajouter:focus {
    background-color: #3ca512 !important;
    border-color: #3ca512 !important;
}

.fiche-structure-supprimer {
    color: white !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-supprimer:hover,
.fiche-structure-supprimer:focus {
    background-color: #ac2e29 !important;
    border-color: #9c2622 !important;
}

.fiche-structure-enregistrer {
    color: white !important;
    background-color: #41B314 !important;
    border-color: #3ca512 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-enregistrer:hover,
.fiche-structure-enregistrer:focus {
    background-color: #3ca512 !important;
    border-color: #3ca512 !important;
}

/* .fiche-structure-annuler {
    color: white !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-annuler:hover,
.fiche-structure-annuler:focus {
    background-color: #ac2e29 !important;
    border-color: #9c2622 !important;
} */

.fiche-structure-administrateur {
    color: white !important;
    background-color: #b000c0 !important;
    border-color: #9400a1 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-administrateur:hover,
.fiche-structure-administrateur:focus {
    background-color: #9400a1 !important;
    border-color: #6c0075 !important;
}

.fiche-structure-chef {
    color: white !important;
    background-color: #e4cb10 !important;
    border-color: #d6be0f !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-structure-chef:hover,
.fiche-structure-chef:focus {
    background-color: #e4cb10 !important;
    border-color: #d6be0f !important;
}
/* FIN --- FICHE STRUCTURE VISUALISER */

.fiche-btn-custom-small {
    width: 20% !important;
}

.fiche-btn-custom-medium {
    width: 25% !important;
}


.btn-custom {
    width: 24% !important;
}

.fiche-debloquer {
    color: white !important;
    background-color: #3ca512 !important;
    border-color: #3ca512 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-bloquer {
    color: white !important;
    background-color: #d6be0f !important;
    border-color: #d6be0f !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.fiche-supprimer {
    color: white !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    padding: 6px 0px !important;
    border-radius: 2px !important;
}

.bouton-visualiser {
    color: white;
    background-color: #00AAFF;
    border-color: #00a0f0;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-visualiser:hover,
.bouton-visualiser:focus {
    color: white;
    background-color: #00a0f0;
    border-color: #00a0f0;
}

.bouton-partager {
    color: white;
    background-color: #ed89ff;
    border-color: #c671d4;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-partager:hover,
.bouton-partager:focus {
    color: white;
    background-color: #c671d4;
    border-color: #9c59a7;
}

.bouton-transferer {
    color: white;
    background-color: #4bacbd;
    border-color: #377f8b;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-transferer:hover,
.bouton-transferer:focus {
    color: white;
    background-color: #377f8b;
    border-color: #224f57;
}

.bouton {
    width: 96%
}

.bouton-small {
    width: 15%
}

.bouton-medium {
    width: 28%
}

.bouton-modifier {
    color: white;
    background-color: #f09400;
    border-color: #f09000;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-modifier:hover,
.bouton-modifier:focus {
    color: white;
    background-color: #ac6700;
    border-color: #ac6700;
}

.bouton-debloquer {
    color: white;
    background-color: #41B314;
    border-color: #3ca512;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-debloquer:hover,
.bouton-debloquer:focus {
    color: white;
    background-color: #3ca512;
    border-color: #3ca512;
}

.bouton-bloquer {
    color: white;
    background-color: #e4cb10;
    border-color: #d6be0f;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-bloquer:hover,
.bouton-bloquer:focus {
    color: white;
    background-color: #d6be0f;
    border-color: #d6be0f;
}

.bouton-supprimer {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-supprimer:hover,
.bouton-supprimer:focus {
    color: white;
    background-color: #c9302c;
    border-color: #ac2925;
}

.bouton-activer {
    color: white;
    background-color: #41B314;
    border-color: #3ca512;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-activer:hover,
.bouton-activer:focus {
    color: white;
    background-color: #3ca512;
    border-color: #3ca512;
}

.bouton-desactiver {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-desactiver:hover,
.bouton-desactiver:focus {
    color: white;
    background-color: #c9302c;
    border-color: #ac2925;
}

.bouton-administrateur {
    color: white;
    background-color: #b000c0;
    border-color: #9400a1;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-administrateur:hover,
.bouton-administrateur:focus {
    color: white;
    background-color: #9400a1;
    border-color: #6c0075;
}

.bouton-chef {
    color: white;
    background-color: #e4cb10;
    border-color: #d6be0f;
    padding: 6px 0px !important;
    margin: 0px 3px;
}

.bouton-chef:hover,
.bouton-chef:focus {
    color: white;
    background-color: #d6be0f;
    border-color: #d6be0f;
}

/*************/

.modal-content {
    margin: 10% 20% 10% 25% !important;
    width: 50% !important;
    height: 50% !important;
    border-radius: 10px;
}

@-webkit-keyframes animatetop {
}

@keyframes animatetop {
}

/* The Close Button */
.close {
}

.close:hover,
.close:focus {
}

.fermerDialogue {
    color: white !important;
}